.card {
    width: 315px;
    height: 200px;
    min-width: 300px;
    background-color: #8e44ad;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    border-radius: 10px;
    padding-left: 15px;
}

p {
    margin: 0;
}

#foto1 {
    width: 50px;
    padding-top: 35px;
    margin-left: -5px;
}

#cardnum {
    font-weight: 200;
    font-size: 25px;
    margin-top: -5px;
}

#cardname {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 15px;
    font-family: monospace;
}

#val {
    font-size: 9px;
}

#date {
    font-family: 'Tahoma', sans-serif;
}

#foto2 {
    width: 100px;
    height: 35px;
    margin-right: 20px;
    margin-top: -10px;
}

.flex {
    display: flex;
    justify-content: space-between;

}

.card:nth-child(2) {
    background-color: green;
}

.card:nth-child(3) {
    background-color: black;
}

.card:nth-child(4) {
    background-color: yellow;
}
.card:nth-child(5) {
    background-color: rgb(89, 0, 255);
}
.card:nth-child(6) {
    background-color: rgb(142, 54, 102);
}
.card:nth-child(7) {
    background-color: rgb(255, 0, 0);
}
.card:nth-child(8) {
    background-color: rgb(16, 255, 171);
}

body {
    max-width: 1000px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}